<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search scoped=true submit=false}}
  </nav>

  <!-- START: Discontinued Products -->
  {{#is category.name 'Discontinued Products'}}
      <div class="discontinued">
        To see a full list of discontinued Exclaimer Products please see the page <a href="https://www.exclaimer.co.uk/support/discontinued" title="Exclaimer Discontinued & Legacy Products" target="_blank">here</a>
      </div>
  {{/is}}
  <!-- END: Discontinued Products -->

  <!-- START: Migration Banner -->
  {{#is category.id 360000476132}}
      <div class="discontinued">
        <em>Important notice:</em> All on-premises products are being discontinued <a href="https://www.exclaimer.co.uk/support/discontinued" title="Migration Product Comparison" target="_blank">learn more</a>
      </div>
  {{/is}}
  {{#is category.id 360000495251}}
      <div class="discontinued">
        <em>Important notice:</em> All on-premises products are being discontinued <a href="https://www.exclaimer.co.uk/support/discontinued" title="Migration Product Comparison" target="_blank">learn more</a>
      </div>
  {{/is}}
  {{#is category.id 360000474531}}
      <div class="discontinued">
        <em>Important notice:</em> All on-premises products are being discontinued <a href="https://www.exclaimer.co.uk/support/discontinued" title="Migration Product Comparison" target="_blank">learn more</a>
      </div>
  {{/is}}
  <!-- END: Migration Banner -->

  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h1>{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
      </header>
      <div class="cat-container">
        {{#each sections}}
          <a href="{{url}}" class="cat-section">{{name}}
            {{#if internal}}
              <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </div>
  </div>
</div>
