<section class="section hero">
  <div class="hero-inner">
    <h1>How can we help?</h1>
    <p>Start by typing a question or a topic below</p>
    {{search submit=false instant=true class='hero-search hero-search-full'}}
  </div>
</section>

<section class="section featured">
  <div class="container">
    <div class="featured-item">
      <div class="featured-block">
        <h3><a href="https://support.exclaimer.com/hc/en-gb/articles/360033728771-What-s-new-in-Exclaimer-Cloud">Whats new in Exclaimer Cloud</a></h3>
        <p>Releases and changes to the Exclaimer Cloud</p>
      </div>
      <a href="https://support.exclaimer.com/hc/en-gb/articles/360033728771-What-s-new-in-Exclaimer-Cloud" class="featured-button">Read More</a>
    </div>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
 <!--   <section class="categories blocks">
      <ul class="blocks-list">
        <li class="blocks-item">
          <a href='https://cloudsupport.exclaimer.com' class="blocks-item-link">
            <h4 class="blocks-item-title">Exclaimer Cloud - Signatures for Office 365 / G Suite</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>
      </ul>
    </section> -->

    <!-- Sandbox Promoted Products -->
    <section id="sandboxPromotedProducts" class="categories blocks">
      <ul class="products-list">
        {{#each categories}}
          {{#is id 360002115511}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-ec">
                <img src="{{asset 'ec-logo.png'}}"/>
              </a>
          {{/is}}
          {{#is id 360002115531}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-smee">
                <img src="{{asset 'smee-logo.png'}}"/>
              </a>
          {{/is}}
          {{#is id 360002115551}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-smoe">
                <img src="{{asset 'smoe-logo.png'}}"/>
              </a>
          {{/is}}
          {{#is id 360001857471}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-faq">
                <img src="{{asset 'faq-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360001947352}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-sigd" >
                <img src="{{asset 'sigd-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
        {{/each}}
      </ul>
    </section>

    <!-- Live Promoted Products -->
    <section id="livePromotedProducts" class="categories blocks">
      <ul class="products-list">
        {{#each categories}}
          {{#is id 360001782491}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-ec">
                <img src="{{asset 'ec-logo.png'}}"/>
              </a>
          {{/is}}
          {{#is id 360000476132}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-smee">
                <img src="{{asset 'smee-logo.png'}}"/>
              </a>
          {{/is}}
          {{#is id 360000495251}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-smoe">
                <img src="{{asset 'smoe-logo.png'}}"/>
              </a>
          {{/is}}
          {{#is id 360000483672}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-faq">
                <img src="{{asset 'faq-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360001174671}}
              <a href='{{url}}' class="products-item products-item-promoted products-item-sigd" >
                <img src="{{asset 'sigd-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
        {{/each}}
      </ul>
    </section>

    <div class="other-products">
      <span>Other Products</span>
    </div>

    <!-- Sandbox Other Products -->
    <section id="sandboxOtherProducts" class="categories others-blocks">
      <ul class="products-list">
        {{#each categories}}
          {{#is id 360002104072}}
              <a href='{{url}}' class="products-item products-item-ar">
                <img src="{{asset 'ar-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360002115651}}
              <a href='{{url}}' class="products-item products-item-ma">
                <img src="{{asset 'ma-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360002104092}}
              <a href='{{url}}' class="products-item products-item-eam">
                <img src="{{asset 'eam-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360002115671}}
              <a href='{{url}}' class="products-item products-item-td">
                <img src="{{asset 'td-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360002115591}}
              <a href='{{url}}' class="products-item products-item-md">
                <img src="{{asset 'md-logo.png'}}" style="max-height: 40px"/>
              </a>
          {{/is}}
          {{#is id 360002104112}}
              <a href='{{url}}' class="products-item products-item-disc">
                <img src="{{asset 'disc-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
        {{/each}}
      </ul>
    </section>

    <!-- Live Other Products -->
    <section id="liveOtherProducts" class="categories others-blocks">
      <ul class="products-list">
        {{#each categories}}
          {{#is id 360000308011}}
              <a href='{{url}}' class="products-item products-item-ar">
                <img src="{{asset 'ar-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360000495211}}
              <a href='{{url}}' class="products-item products-item-ma">
                <img src="{{asset 'ma-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360000466072}}
              <a href='{{url}}' class="products-item products-item-eam">
                <img src="{{asset 'eam-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360000474531}}
              <a href='{{url}}' class="products-item products-item-td">
                <img src="{{asset 'td-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
          {{#is id 360002138371}}
              <a href='{{url}}' class="products-item products-item-md">
                <img src="{{asset 'md-logo.png'}}" style="max-height: 40px"/>
              </a>
          {{/is}}
          {{#is id 360002128332}}
              <a href='{{url}}' class="products-item products-item-disc">
                <img src="{{asset 'disc-logo.png'}}" style="max-height: 40px" />
              </a>
          {{/is}}
        {{/each}}
      </ul>
    </section>

  </section>

  {{#if promoted_articles}}
    <section class="section promo-articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="promo-articles-list">
        {{#each promoted_articles}}
          <li class="promo-articles-item">
            <span data-title="Promoted article" class="icon-star"></span><a href="{{url}}">
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  <!-- {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}} -->

  <section class="section activity">
    {{recent_activity}}
  </section>
</div>
