<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search scoped=true submit=false}}
  </nav>

  <div class="section-container">
    <section class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
      </header>
      {{#if section.sections}}
        <div class="section-sub-section-list">
          {{#each section.sections}}
            <a href="{{url}}" class="section-sub-section">{{name}}</a>
          {{/each}}
        </div>
      {{/if}}
      {{#if section.articles}}
        <h3 class="section-article-header">Articles</h3>
        <div class="section-article-list">
          {{#each section.articles}}
            <div class="section-article">
              <a href="{{url}}" class="section-article-link">{{title}}</a>
              <a href="{{url}}" class="section-article-btn">View article</a>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{pagination}}
    </section>
  </div>
</div>
